.header{
	background-color: #efefef;
	margin-bottom: 5px;
}
.logo{
	display: inline-block;
	margin: 10px 30px;
}
.button{
	float: right;
	margin: 30px;
}
button{
	height: 30px;
	width: 80px;
}
.main{
	margin: 0px 100px;
}
.subheader{
	font-family: monospace;
	font-size: 25px;
	margin: 10px 0px;
	color: red; 
}
.left{
	width: 680px;
	display: inline-block;
	float: left;
}
.content{
	width: 300px;
	clear: both;
	font-size: 18px;
	margin: 10px;
	text-align: justify;
	display: inline-block;
}
.divhead{
	font-family: monospace;
	font-size: 20px;
}
.divcontent{
	color: #666666;
}
.right{
	width: 400px;
	display: inline-block;
	float: right;
	padding:25px; 
	line-height: 30px;
	background-color: #efefef;
}
input[type="text"],input[type="password"],input[type="email"],input[type="number"],input[type="date"]{
	width: 100%;
	height: 25px;
	margin: 10px 0px;
}
input[type="email"]{
	text-align: right;
}
select{
	width: 100%;
	height: 30px;
	margin: 10px 0px;	
}
.captcha{
	margin:20px 50px; 
	background-color:white;
}
a{
	text-decoration: none;
	color: blue;
}
input[type="submit"]{
	background-color: #0066ff;
	border-width: 0px;
	color: white;
	float: right;
	height: 30px;
	width: 80px;
}
.footer{ 
	clear: both;
}
.footerleft{
	display: inline-block;
}
li{
	display: inline;
	margin:0px 20px;
}
.footerright{
	display: inline-block;
	float: right;
	margin:0px 40px;
}
.Learn-more{
	clear: both;
	float: right;
	margin-right: 165px;
}